{% extends "base.html" %}

{% block content %}

<main>
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4" text-align=center">Homepage van {{loggedInUser}}</span>
        </a>
      </header>
  
      <div class="row align-items-md-stretch">
        <div class="container-fluid py-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Stage gegevens</h2>
            <p>Studenten kunnen hier de gegevens van hun stages zien.</p>
            <br>
            <img class="mb-4" src="../static/media/stage-gert.jpeg" alt="" width="703">
            <br>
            <a href="/stageGegevens" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Bekijk hier</a>
            <br>
          </div>
        </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}