{% extends "base.html" %}

{% block content %}

<main class="form-signin">
    <form action="/app/login" method="post">
      <img class="mb-4" src="../static/media/stage-gert.jpeg" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  
      <div class="form-floating">
        <input type="text" class="form-control" id="voornaam" name="voornaam" placeholder="Voornaam">
        <label for="voornaam" style="color: {{uLabelKleur}};">Voornaam {{uMessage}}</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="achternaam" name="achternaam" placeholder="Achternaam">
        <label for="achternaam" style="color: {{uLabelKleur}};">Achternaam {{uMessage}}</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        <label for="password" style="color: {{pwLabelKleur}};">Password {{pwMessage}}</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">sign in</button>
    </form>
  </main>

{% endblock %}