{% extends "base.html" %}

{% block content %}
<div class="list-group" style="padding-top: 5%;">
  <p>{{ stageInfo }} </p>
  <br>
  <br>
  <p>{{aantalStage}}</p>
  <br>
  <br>
  {% for i in stageInfo %}
    <!-- aantal stages, all data van stage? -->
    <br>
    {{i}}
    {% for j in i %}
      <!-- data per stage? -->
      <br>
      <!-- #{{ j }} -->
    {% endfor %}
    {{ j }}
    <a href="/stageDetails?{{i[0]}}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="../static/media/Hanze_Cirkel.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
      <div class="d-flex gap-2 w-100 justify-content-center">
        <div>
          <h3 class="mb-0">{{ stageInfo[2][3] }} -- {{stageInfo[2][2]}}</h3>
          <p class="mb-0 opacity-75">{{stageInfo[3][6]}}</div>
        <small class="opacity-50 text-nowrap"> </small>
      </div>
    </a>
  {% endfor %}
  <!-- 
  <a href="/stageDetails?1" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="../static/media/Hanze_Cirkel.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-center">
      <div>
        <h3 class="mb-0">{{ stageInfo[2][2] }} -- {{stageInfo[2][1]}}</h3>
        <p class="mb-0 opacity-75">{{stageInfo[3][6]}}</div>
      <small class="opacity-50 text-nowrap"> </small>
    </div>
  </a>
  --> 

  <!-- 
  <a href="/stageDetails?1" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-center">
      <div>
        <h3 class="mb-1">{{ stageInfo[2][2] }} -- {{stageInfo[2][1]}}</h3>
        <p class="mb-1 opacity-75">{{stageInfo[3][6]}}</p>
      </div>
      <small class="opacity-50 text-nowrap"> </small>
    </div>
  </a>
  -->
</div>
{% endblock %}