{% extends "base.html" %}

{% block content %}

<br>
<div style="display:block; padding-bottom: 8px;">
    <div class="card card-wide">
        <div class="card-block  cf cf-both">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-left pr-3">
                        <div style="text-align:center"></div>
                    </div>
                    <div class="profile-details" style="padding-left: 150px">
                        <div class="row cf cf-right">
                            <div class="col-sm-2 profile-label"><strong><h4>Voornaam</strong></h4></div>
                            <div class="col-sm-10" style="padding-bottom: 10px;"><h4>Voornaam</h4></div>
                        </div>
                        <div class="row cf cf-right">
                            <div class="col-sm-2 profile-label"><strong><h4>Achternaam</strong></h4></div>
                            <div class="col-sm-10" style="padding-bottom: 10px;"><h4>Achternaam</h4></div>
                        </div>
                        <div class="row cf cf-right">
                            <div class="col-sm-2 profile-label"><strong><h4>Instelling</strong></h4></div>
                            <div class="col-sm-10" style="padding-bottom: 10px;"><h4>Instelling</h4></div>
                        </div>
                        <div class="row cf cf-right">
                            <div class="col-sm-2 profile-label"><strong><h4>Soort instelling</strong></h4></div>
                            <div class="col-sm-10" style="padding-bottom: 10px;"><h4>Soort instelling</h4></div>
                        </div>
                        <div class="row cf cf-right">
                            <div class="col-sm-2 profile-label"><strong><h4>Begeleider</strong></h4></div>
                            <div class="col-sm-10" style="padding-bottom: 10px;"><h4>Begeleider</h4></div>
                        </div>
                        <div class="row cf cf-right">
                            <div class="col-sm-2 profile-label"><strong><h4>Cijfer</strong></h4></div>
                            <div class="col-sm-10" style="padding-bottom: 10px;"><h4>Cijfer</h4></div>
                        </div>
                        <div class="row cf cf-right">
                            <div class="col-sm-2 profile-label" ><strong><h4>Periode</strong></h4></div>
                            <div class="col-sm-10" style="padding-bottom: 10px;"><h4>Periode</h4></div>
                        </div>
                    </div>                      
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}