{% extends "base.html" %}

{% block content %}
<div class="StyledInputLabelWrapper-sc-1lelz3z-0 bORxnu">
    <label  class="BaseTypo-sc-1jga2g7-0 izkVco StyledInfoTypo-sc-1jga2g7-1 bRnOZM StyledLabel-sc-1lelz3z-1 fVraJv">E-mailadres</label>
    <input autocomplete="email" maxlength="100" id="email" placeholder="" type="email" aria-invalid="true" aria-required="false" class="StyledInput-sc-6brnnh-1 WOhXo" value="">
</div>
<button class="btn btn-dark" type="submit">Submit</button>
{% endblock %}